<% content_for :header_tags do %>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<% end %>

<% content_for :sidebar do %>
  <%= form_tag({}, :method => :get) do %>

    <h3><%= l(:label_project_plural) %></h3>
    <label for="closed"><%= check_box_tag 'closed', 1, params[:closed] %> <%= l(:label_show_closed_projects) %></label>

    <% if Setting.plugin_project_overview[:stale_enable] %>
	    <br />
	    <label for="stale"><%= check_box_tag 'stale', 1, params[:stale] %> <%= l(:label_show_stale_projects) %></label>
    <% end %>

    <p><%= submit_tag l(:button_apply), :class => 'button-small', :name => nil %></p>

  <% end %>
<% end %>

<div class="autoscroll">
	<table class="list">
		<thead>
			<th><%= l(:label_project_name) %></th>
			<% if Setting.plugin_project_overview[:stale_enable] %>
				<th><%= l(:label_project_status) %></th>
			<% end %>
			<th><%= l(:label_project_current_version) %></th>
			<th><%= l(:label_project_due_date) %></th>
			<th><%= l(:label_project_progress) %></th>
			<th><%= l(:label_project_budget_comparision) %></th>
			<th><%= l(:field_estimated_hours) %></th>
			<th><%= l(:label_spent_time) %></th>
			<% if Setting.plugin_project_overview[:progress_ratio] %>
				<th><%= l(:label_project_ratio) %></th>
			<% end %>
			<th><%= l(:label_project_health) %></th>
			<% ProjectCustomField.scoped.each do |custom_field| %>
				<% next unless Setting.plugin_project_overview[:include_project_fields].to_a.include?(custom_field.id.to_s) %>
				<th><%= custom_field.name %></th>
			<% end %>
		</thead>
		<tbody>
			<%= render(:partial => "project", :collection => @projects) %>
		</tbody>
	</table>
</div>