<% current_version = project.versions.where("effective_date >= ?", Time.now).last %>

<% active = true %>
<% if Setting.plugin_project_overview[:stale_enable] %>
	<% active = (current_version && Redmine::Activity::Fetcher.new(User.current, :project => project, :with_subprojects => true).events(Time.now - Setting.plugin_project_overview[:stale_num_days].to_i.days, Time.now).any?) %>
<% end %>

<% if active || @stale || project.archived? || !project.active? %>
<tr>
	<td><%= link_to project.name, project_path(project) %></td>
	<td align="center">
	  <% if project.archived? %>
			<%= l(:project_status_archived) %>
		<% elsif !project.active? %>
			<%= l(:project_status_closed) %>
		<% elsif !active %>
			<%= l(:project_status_stale) %>
		<% else %>
			<%= l(:project_status_active) %>
		<% end %>		
	</td>
	<td align="center"><%= link_to(current_version.name, version_path(current_version)) if current_version %></td>
	<td align="center"><%= progress_bar([current_version.closed_pourcent, current_version.completed_pourcent], :width => "100%") if current_version %></td>
	<td align="center"><%= current_version.due_date if current_version %></td>
	<% project.visible_custom_field_values.each do |custom_value| %>
		<td align="center">
	  	<% if !custom_value.value.blank? %>
	     	<%=h show_value(custom_value) %>
	  	<% end %>
		</td>
  <% end %>

</tr>
<% end %>
